parameters:
    ignoreErrors:
        # Remove when autowiring is integrated
        - '#.+Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::canBeEnabled.+#'
    checkMissingIterableValueType: false
